body {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    width: auto;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
}

.navi_cat {
    padding-left: 15px;
    font-size: 14px;
}

.center_search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_img {
    flex-direction: column;
    align-items: center;
}

.main_search {
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 6px;
    width: 582px;
}

input[type=text] {
    border: 1px;
    border-style: solid;
    border-color: rgb(223, 225, 229);
    border-radius: 24px;
    box-sizing: border-box;
    width: 582px;
}

.search_button {
    box-sizing: border-box;
    padding-top: 18px;
    border: 2px;
    border-style: solid;
    border-color: rgb(248, 249, 250);
    display: flex;
    justify-content: center;
}

.adv_bar {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

.adv_body {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 45px;
}

.adv_head {
    display: block;
    width: 50%;
}

.fill {
    float: left;
    display: flex;
    align-items: center;
    min-width: 167px;
    width: 10%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.terms {
    float: left;
    display: flex;
    align-items: center;
    min-width: 167px;
    width: 31%;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
}

input[type=text2] {
    border: 1px;
    border-style: solid;
    border-color: rgb(223, 225, 229);
    font-size: 13px;
    box-sizing: border-box;
    width: 428px;
}

input[type=text3] {
    border: 1px;
    border-style: solid;
    border-color: rgb(223, 225, 229);
    font-size: 13px;
    box-sizing: border-box;
    width: 428px;
}

input[type=text4] {
    border: 1px;
    border-style: solid;
    border-color: rgb(223, 225, 229);
    font-size: 13px;
    box-sizing: border-box;
    width: 428px;
}

.to {
    width: 40px;
    padding-right: 6px;
    padding-left: 6px;
    text-align: center;
    font-size: 13px;
    color: #dddee1;
}