body
{
    font-family: Arial, Helvetica, sans-serif;
}

.navigation
{
    width: auto;
    display: flex;
    justify-content: right;
    box-sizing: border-box;
}

.navi_cat
{
    padding-left: 15px;
    font-size: 14px;
}

.center_search
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_img
{
    flex-direction: column;
    align-items: center;
}

.main_search
{
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 6px;
    width: 582px;
}

input[type=text]
{
    border: 1px;
    border-style: solid;
    border-color: rgb(223, 225, 229);
    border-radius: 24px;
    box-sizing: border-box;
    width: 582px;
}
.search_button
{
box-sizing: border-box;
padding-top: 18px;
border: 2px;
border-style: solid;
border-color: rgb(248, 249, 250);
display: flex;
justify-content: center;
}

.adv_bar
{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

.adv_body
{
margin-top: 40px;
margin-left: 45px;
}

.adv_head
{
    height: 42px;
}

.adv_section
{

}

.sub_spacing
{
    width: 167px;
    height: 42px;
    float: left;
}

.adv_sub
{
    font-size: 13px;
    height: 30px;
}

.box_spacing
{
    height: 41px;
    width: 384.469px;
    float: left;
}

.box_sub
{
    border-width: 1px;
    height: 29px;
    width: 384.469px;
}